.button {
  @extend %flex--centered;
  font-weight: bolder;
  padding: 16px 0;
  border: 1px solid $black;
  color: $black;
  text-transform: uppercase;
  opacity: 0.5;
  &:hover{
    background-color: $black;
    color: $white;
  }
}

.play-button {
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  &:hover{
    opacity: 0.67;
  }
  &::before {
    content: '';
    display: block;
    width: 68px;
    height: 68px;
    background: transparent;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    border-radius: 50%;
    border: 2px solid $white;
  }
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 22px solid #FFFFFF;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 8.5px);
    z-index: 100;
  }
}