//colors
$white: #FFFFFF;
$off-white: rgba(255, 255, 255, 80);
$tan: #EBE7E3;
$light-tan: #F5F3F1;
$light-blue: #95AAB5;
$dark-grey: #4F5050;
$grey: rgba(0, 0, 0, 50);
$grey-variation-2: #979797;
$grey-variation-3: #91908D;
$light-grey: rgba(79, 80, 80, 50);
