//variables
$title-font: 'utopia-std';
$body-font: 'Gotham', sans-serif;

//font-face declarations
@font-face {
  font-family: $body-font;
  font-weight: bolder;
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: $body-font;
  font-weight: bold;
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: $body-font;
  font-weight: normal;
  src: url('../fonts/Gotham-Book.otf');
}