header {
  width: 100%;
  position: absolute;
  top: 0;
}

.menu__container {
  display: flex;
  width: calc(100% - 40px);
  max-width: 1350px;
  padding: 29px 20px;
  margin: 0 auto;
}

.logo {
  position: relative;
  background-color: $white;
  width: 126px;
  height: 12px;
  margin-top: 10px;
  z-index: 2;
  @include mq($breakpoint-medium) {
    width: 147px;
    height: 14px;
  }
}
