#hero {
  @include hero('parallax') {
    @include responsive-fullscreen-bg-img($images-path, 'mohammad_yearuzzaman');
  }
;
  @extend %flex--centered;
}

.hero__header {
  @extend %flex-col--centered;
}

.icon-chevron-down {
  @include center-absolute(102px);
  text-align: center;
  padding: 40px 20px;
  bottom: 10px;
  transform: scale(1);
  transition: transform 0.25s ease-out;
  @include mq($breakpoint-medium) {
    bottom: 25px;
  }
  &::before {
    color: $white;
    font-size: 22px;
  }
  &:hover {
    transform: scale(1.5);
    @include animation('bounce 0.3s normal both ease-in-out')
  }
}

h3 {
  #hero & {
    text-align: center;
    margin: 0 0 30px 0;
    @include mq($breakpoint-medium) {
      margin: 0 0 24px 0;
    }
  }
}

h1 {
  #hero & {
    border-bottom: 1px solid $white;
    @include mq($breakpoint-medium) {
      padding-bottom: 8px;
    }
  }
}
