#hero {
  @include hero('parallax') {
    @include responsive-fullscreen-bg-img($images-path, 'mohammad_yearuzzaman');
  }
;
  @extend %flex--centered;
}

.hero__header {
  @extend %flex-col--centered;
}

.icon-chevron-down {
  @include center-absolute(40px);
  text-align: center;
  bottom: 50px;
  @include mq($breakpoint-medium) {
    bottom: 65px;
  }
  &::before {
    color: $white;
    font-size: 22px;
  }
}

h3 {
  #hero & {
    text-align: center;
    margin: 0 0 30px 0;
    @include mq($breakpoint-medium) {
      margin: 0 0 24px 0;
    }
  }
}

h1 {
  #hero & {
    border-bottom: 1px solid $white;
    @include mq($breakpoint-medium) {
      padding-bottom: 8px;
    }
  }
}
