nav {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  @include mq($breakpoint-medium) {
    position: initial;
    margin-left: auto;
  }
}

ul {
  transform: translateY(-218px);
  position: absolute;
  width: 100%;
  padding: 90px 0 30px 0;
  text-align: right;
  background-color: $dark-grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  @include mq($breakpoint-medium) {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    position: relative;
    transform: translateY(0);
    margin-top: 13px;
  }
  .menu__hamburger--opened & {
    transform: translateY(0);
  }
}

.menu__animation {
  transition: transform 0.3s ease-out;
}

li {
  padding: 10px 9px 10px 0;
  @include mq($breakpoint-medium) {
    background: none;
    border: none;
    padding: 0;
    margin: 0 19px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.menu__link {
  padding: 5px 20px;
  margin: 0 40px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100px;
  margin-left: auto;
  @include mq($breakpoint-medium) {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: -6px;
    height: 2px;
    width:0;
    background: $white;
    transition: width 0.4s ease-out;
    @include mq($breakpoint-medium) {
      left: 0;
      bottom: -8px;
    }
  }
  &:hover {
   &::after{
     width: 60px;
     @include mq($breakpoint-medium) {
       width: 100%;
     }
   }
  }
}

.menu__mobile {
  @include mq($breakpoint-medium) {
    display: none;
  }
}

#menu__hamburger {
  width: 35px;
  position: absolute;
  z-index: 2;
  top: 32px;
  right: 20px;
  &::before {
    content: 'MENU';
    display: block;
    font-size: 14px;
    position: absolute;
    left: -55px;
    top: 15px;
  }
}

.menu__hamburger__line {
  display: block;
  margin: 7px auto;
  width: 30px;
  height: 3px;
  background: #fff;
  position: relative;
  .menu__hamburger--opened & {
    width: 35px;
    &:nth-child(even) {
      opacity: 0;
    }
    &:first-child {
      top: 10px;
      transform: rotate(45deg);
    }
    &:last-child {
      top: -10px;
      transform: rotate(-45deg);
    }
  }
}

