#numbers {
  @extend %clearfix;
  background-color: $white;
  padding-top: 50px;
}

.numbers__container {
  margin: 78px 0;
  @include mq($breakpoint-large) {
    margin: 81px 0;
    display: flex;
    justify-content: center;
  }
}

.numbers__block {
  padding: 40px 10px;
  max-width: 236px;
  margin: 0 auto;
  color: $light-grey;
  text-align: center;
  @include mq($breakpoint-large) {
    margin: 0;
    padding: 0 22px;
  }
}

.number {
  font-family: $main-title-font;
  font-size: 72px;
  line-height: 56px;
  letter-spacing: -0.8px;
  color: $light-blue;
}

.number__title {
  font-family: $main-title-font;
  font-size: 17px;
  line-height: 27px;
  padding-top: 10px;
}

small {
  #numbers & {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -0.2px;
    line-height: 20px;
  }
}

.blurb__bg {
  position: relative;
  margin: 122px auto 70px auto;
  background-color: $light-tan;
  min-height: 346px;
  max-width: 700px;
}

.blurb__container {
  @extend %flex--vertically-centered;
  position: relative;
  height: 346px;
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    height: 95px;
    left: 50%;
    border-left: 1px solid $light-grey-variation;
    opacity: 0.5;
  }
  &::before {
    top: -47.5px;
  }
  &::after {
    bottom: -47.5px;
  }
}